b-h2-ejecucion-comandos-v1.0.json
{
  "name": "PB-H2 - Ejecución de Comandos Maliciosos (T1059)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cowrie-command",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-command",
      "name": "Webhook Comandos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cowrie-command-webhook-001"
    },
    {
      "parameters": {
        "functionCode": "// Extraer IOCs de comandos\nconst event = $input.all()[0].json;\nconst command = event.input || event.command || '';\n\n// Extraer URLs con regex\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\nconst urls = command.match(urlRegex) || [];\n\n// Extraer dominios\nconst domainRegex = /(?:https?:\\/\\/)?([\\w\\-]+\\.[\\w\\-\\.]+)/g;\nconst domains = command.match(domainRegex) || [];\n\n// Detectar comandos peligrosos\nconst dangerousCommands = ['rm -rf', 'chmod 777', 'nc -e', 'wget', 'curl', 'python -c', 'bash -i'];\nconst isDangerous = dangerousCommands.some(dc => command.toLowerCase().includes(dc));\n\nreturn {\n  timestamp: event.timestamp || new Date().toISOString(),\n  source_honeypot: 'cowrie',\n  src_ip: event.src_ip || event.source_ip,\n  session_id: event.session || event.session_id,\n  commands: command,\n  extracted_urls: urls,\n  extracted_domains: domains,\n  is_dangerous_command: isDangerous,\n  playbook_id: 'PB-H2-v1.0',\n  att_ck_technique: 'T1059'\n};"
      },
      "id": "function-extract-iocs",
      "name": "Extraer IOCs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.virustotal.com/api/v3/files/{{ $json[\"file_hash\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "={{ $credentials[\"VirusTotal_API\"][\"apiKey\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-virustotal",
      "name": "VirusTotal Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "virustotal-cred-001",
          "name": "VirusTotal_API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.whoisfreaks.com/v1.0/whois",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domainName",
              "value": "={{ $json[\"extracted_domains\"][0] }}"
            },
            {
              "name": "apiKey",
              "value": "={{ $credentials[\"Whois_API\"][\"apiKey\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-whois",
      "name": "WHOIS Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "whois-cred-001",
          "name": "Whois_API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Calcular score de riesgo para comandos\nconst vtData = $input.all()[1].json.data || {};\nconst whoisData = $input.all()[2].json || {};\nconst event = $input.all()[0].json;\n\nlet score = 0;\n\n// Score por detecciones en VirusTotal\nconst vtDetections = vtData.attributes?.last_analysis_stats?.malicious || 0;\nif (vtDetections > 5) score += 0.4;\nif (vtDetections > 10) score += 0.2;\n\n// Score por dominio reciente (< 30 días)\nconst domainAge = whoisData.created_date || '';\nif (domainAge) {\n  const created = new Date(domainAge);\n  const daysOld = (new Date() - created) / (1000 * 60 * 60 * 24);\n  if (daysOld < 30) score += 0.3;\n}\n\n// Score por comando peligroso\nif (event.is_dangerous_command) score += 0.3;\n\n// Score por múltiples URLs\nif (event.extracted_urls.length > 2) score += 0.2;\n\nscore = Math.min(score, 1.0);\n\nreturn {\n  ...event,\n  risk_score: score,\n  vt_detections: vtDetections,\n  domain_age_days: domainAge ? ((new Date() - new Date(domainAge)) / (1000 * 60 * 60 * 24)).toFixed(0) : 'N/A',\n  enrichment_timestamp: new Date().toISOString()\n};"
      },
      "id": "function-scoring-h2",
      "name": "Calcular Risk Score",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"risk_score\"] }}",
              "operation": "greaterEqual",
              "value2": "0.75"
            }
          ]
        }
      },
      "id": "switch-critical",
      "name": "¿Riesgo Crítico? (≥0.75)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "#soc-incidents"
            },
            {
              "name": "text",
              "value": "🔴 INCIDENTE CRÍTICO - Comando Malicioso\n\nIP: {{ $json[\"src_ip\"] }}\nComando: {{ $json[\"commands\"] }}\nScore: {{ $json[\"risk_score\"] }}\nVT Detections: {{ $json[\"vt_detections\"] }}\nAcción: Bloqueo inmediato + Ticket"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-critical-h2",
      "name": "Slack Incidente Crítico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred-001",
          "name": "Slack_API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.your-firewall.com/api/v1/block",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ip",
              "value": "={{ $json[\"src_ip\"] }}"
            },
            {
              "name": "duration",
              "value": "7200"
            },
            {
              "name": "reason",
              "value": "Malicious command execution - PB-H2"
            }
          ]
        },
        "options": {}
      },
      "id": "http-firewall-block-h2",
      "name": "Bloqueo Firewall Inmediato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "firewall-cred-001",
          "name": "Firewall_API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-glpi-instance.com/apirest.php/Ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"name\": \"CRÍTICO - Comando Malicioso - {{ $json[\"src_ip\"] }}\", \"content\": \"IP: {{ $json[\"src_ip\"] }}\\nComando: {{ $json[\"commands\"] }}\\nScore: {{ $json[\"risk_score\"] }}\\nVT Detections: {{ $json[\"vt_detections\"] }}\", \"urgency\": \"5\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "glpi-ticket-h2",
      "name": "Crear Ticket Prioritario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "glpi-cred-001",
          "name": "GLPI_API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "#soc-alerts"
            },
            {
              "name": "text",
              "value": "🟡 ALERTA - Comando Sospechoso\n\nIP: {{ $json[\"src_ip\"] }}\nComando: {{ $json[\"commands\"] }}\nScore: {{ $json[\"risk_score\"] }}\nAcción: Registro para revisión"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-info-h2",
      "name": "Slack Notificación Informativa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred-001",
          "name": "Slack_API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO honeypot_events (timestamp, source_honeypot, src_ip, dst_port, commands, playbook_id, risk_score, att_ck_technique, enrichment_data) VALUES ('{{ $json[\"timestamp\"] }}', '{{ $json[\"source_honeypot\"] }}', '{{ $json[\"src_ip\"] }}', 2222, '{{ $json[\"commands\"] }}', '{{ $json[\"playbook_id\"] }}', {{ $json[\"risk_score\"] }}, '{{ $json[\"att_ck_technique\"] }}', '{{ $json[\"enrichment_timestamp\"] }}'::jsonb);",
        "options": {}
      },
      "id": "postgres-audit-h2",
      "name": "PostgreSQL Auditoría",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-cred-001",
          "name": "PostgreSQL_Audit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO responses (event_id, action_type, actor, status, evidence_uri) VALUES ((SELECT id FROM honeypot_events WHERE src_ip = '{{ $json[\"src_ip\"] }}' ORDER BY timestamp DESC LIMIT 1), '{{ $json[\"risk_score\"] >= 0.75 ? \"block\" : \"log\" }}', 'n8n-automated', 'completed', '/evidence/{{ $json[\"src_ip\"] }}-{{ $json[\"timestamp\"] }}');",
        "options": {}
      },
      "id": "postgres-response",
      "name": "PostgreSQL Respuestas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2250, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-cred-001",
          "name": "PostgreSQL_Audit"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"processed\", \"playbook\": \"PB-H2\", \"risk_score\": {{ $json[\"risk_score\"] }} }",
        "options": {}
      },
      "id": "respond-webhook-h2",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Webhook Comandos": {
      "main": [
        [
          {
            "node": "Extraer IOCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer IOCs": {
      "main": [
        [
          {
            "node": "VirusTotal Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Lookup": {
      "main": [
        [
          {
            "node": "WHOIS Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHOIS Domain": {
      "main": [
        [
          {
            "node": "Calcular Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Risk Score": {
      "main": [
        [
          {
            "node": "¿Riesgo Crítico? (≥0.75)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Riesgo Crítico? (≥0.75)": {
      "main": [
        [
          {
            "node": "Slack Incidente Crítico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Notificación Informativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Incidente Crítico": {
      "main": [
        [
          {
            "node": "Bloqueo Firewall Inmediato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloqueo Firewall Inmediato": {
      "main": [
        [
          {
            "node": "Crear Ticket Prioritario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Ticket Prioritario": {
      "main": [
        [
          {
            "node": "PostgreSQL Auditoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notificación Informativa": {
      "main": [
        [
          {
            "node": "PostgreSQL Auditoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Auditoría": {
      "main": [
        [
          {
            "node": "PostgreSQL Respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Respuestas": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "pb-h2-v1.0-20260301",
  "meta": {
    "instanceId": "honeypot-soc-n8n",
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "PB-H2"
    },
    {
      "name": "Ejecución"
    },
    {
      "name": "T1059"
    }
  ]
}
